<!DOCTYPE html><html><head>
	<title>Stack Overflow Question Tag Prediction</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<header>
		<h2>StackOverFlow Question Tagger</h2>
	</header>

	<fieldset class="ml-container">

		<form action="/" method="POST">
		    <p>Enter Your TItle Here:</p>
            <input name=title placeholder="  Trouble with .. " value="{{title}}"/>
		    <p>Enter Your Question Here:</p>
		    <textarea name="body" placeholder=" Here is my question : i'm having trouble with ..">{{body}}</textarea>
		    <br/>
		    <input type="submit" class="btn-info" value="Predict the tags for the given input" accesskey="s">
{% if postdata %}            
    {% if tags %}
        <h2 style="color:blue;">Supervised Tags : {{ tags }} </h2>
    {% else %}
        <h2 style="color:red;">No Tags Found!</h2>
    {% endif %}
    {% if ldatags %}
        <h2 style="color:blue;">Lda tags : {{ ldatags }} </h2>
    {% endif %}
{% endif %}
            
	    </form>

	</fieldset>
<pre>    More at : https://github.com/ben74/stackoverflow_tagprediction
https://stackoverflow.com/questions
</pre>    
</body>
</html>
<!-- {{ url_for('predict')}} -->