<!DOCTYPE html><html><head>
	<title>Cassandra : Stack Overflow Question Tag Prediction</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head><body>    
	<fieldset><legend><h1>&lcub;&lcub; Cassandra : StackOverFlow Question Tag Predictions &rcub;&rcub;</h1></legend>
		<form action="/" method="POST">
		    <p>Enter Your Title Here:</p>
            <input name=title placeholder="  Trouble with .. " value="{{title}}"/>
		    <p>Enter Your Question Here:</p>
		    <textarea name="body" placeholder=" Here is my question : i'm having trouble with ..">{{body}}</textarea>
		    <br/>
		    <input type="submit" class="btn-info" value="Predict the tags for the given input" accesskey="s">
{% if postdata %}            
    {% if tags1 %}
        <h2>Supervised Tags : {{ tags1 }} </h2>
        {% if tags2 %}
        <h2>Predict proba Tags ( top 10 desc ): {{ tags2 }} </h2>
        {% endif %}
    {% else %}
        <h2>No Tags Found!</h2>
    {% endif %}
    {% if ldatags %}
        <h2>Lda tags : {{ ldatags }} </h2>
    {% endif %}
{% endif %}
            
	    </form>

	</fieldset>
<hr><center>    
<pre>More at : <a target=1 href='https://github.com/ben74/stackoverflow_tagprediction'>Github repo</a> - <a target=1  href='https://stackoverflow.com/questions'>latest questions</a> - &copy; <a target=1  href='//alpow.fr#o:stackiml' title='alpow'>Alpow 2020</a>
</pre></center>   
</body>
</html>
<!-- {{ url_for('predict')}} -->